/* PC Responsive */
.blog-card {
    margin: 0% 0% 5vw 0%;
    width: 25vw;
    height: 25vw;
    background-color: #dfe3ee;
}

.card-thumb {
    width: 96%;
    margin: 2%;
}

.card-headline {
    margin: 2%;
    font-size: 1.8vw;
    font-weight: 500;
}

.card-subline {
    margin: 2%;
    font-size: 1.2vw;
    font-weight: 300;
}

.card-btn {
    margin: 2%;
    font-size: 1.25vw;
    padding: 0.3vw 1vw 0.2vw 1vw;
    border: none;
    border-radius: 5px;
}

.blog-mini-card {
    width: 100%;
    height: 7vw;
    margin: 2.5vw 0% 2.5vw 0%;
    background-color: #dfe3ee;
}

.mini-card-thumb {
    width: 30%;
    margin: 2%;
}

.ads-banner-1 {
    background-color: #dfe3ee;
    width: auto;
    height: 12vw;
    font-size: 1.5vw;
}

.ads-banner-2 {
    background-color: #dfe3ee;
    width: 100%;
    height: 25vw;
    font-size: 1.5vw;
}

/* Tablet Responsive */
@media screen and (max-width:750px) {

    .blog-card {
        width: 40vw;
        height: auto;
    }

    .card-headline {
        font-size: 3.2vw;

    }

    .card-subline {
        font-size: 2.2vw;
        font-weight: 300;
    }

    .card-btn {
        font-size: 2vw;
    }

    .blog-mini-card {
        width: 100%;
        height: 10vw;
        margin: 2.5vw 0% 2.5vw 0%;
        background-color: #dfe3ee;
    }

    .mini-card-thumb {
        display: none;
    }

    .ads-banner-1 {
        background-color: #dfe3ee;
        width: auto;
        height: 12vw;
        font-size: 2.5vw;
        display: none;
    }

    .ads-banner-2 {
        background-color: #dfe3ee;
        width: 100%;
        height: 25vw;
        font-size: 2.5vw;
    }

}

/* Mobile Responsive */
@media screen and (max-width:550px) {
    .blog-card {
        width: 100%;
        height: auto;
        margin: 5% 0% 5% 0%;
    }

    .card-headline {
        font-size: 5.5vw;
    }

    .card-subline {
        font-size: 3.5vw !important;
        font-weight: 300;
    }

    .card-btn {
        font-size: 4.5vw;
    }

    .m-blog-mini-title-card {
        margin: 5vw 0vw 5vw 0vw;
    }

    .mini-title-card-text {
        font-size: 3.5vw;
    }

    .blog-mini-card {
        width: 100%;
        height: 10vw;
        margin: 3vw 0% 3vw 0%;
        padding: 3vw;
        background-color: #dfe3ee;
    }

    .mini-card-headline {
        font-size: 4vw !important;
    }

    .ads-banner-1 {
        background-color: #dfe3ee;
        width: auto;
        height: 15vw;
        font-size: 3.5vw;
        display: none;
    }

    .ads-banner-2 {
        background-color: #dfe3ee;
        width: 100%;
        height: 35vw;
        font-size: 3.5vw;
    }

}