.history-back-btn {
    width: 3vw;
}

.sub-page-header {
    padding: 1.5% 5% 1.5% 5%;
    background-color: #dfe3ee;
}

.page-text-content {
    font-size: 1.6vw;
    text-align: justify;
}

@media screen and (max-width:750px) {

    .history-back-btn {
        width: 4vw;
    }

    .page-text-content {
        font-size: 2vw;
        text-align: justify;
    }

    .social-icon-mob {
        display: block;
    }
}

@media screen and (max-width:550px) {

    .history-back-btn {
        width: 5vw;
    }

    .sub-page-header {
        padding: 5%;
    }

    .page-text-content {
        font-size: 4vw;
        text-align: justify;
    }
}